#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

 h1 {
  font-size: 70px !important;
  font-weight: 600 !important;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* User stats - home page */
.user_color{
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

.user_color::-webkit-color-swatch-wrapper {
  padding: 0; 
}
.user_color::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}